@font-face {
  font-family: Minecraft;
  src: url(Minecraft.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: Minecraft;
    overflow: hidden;
}
canvas{
  align-self: center;
  border: green ridge 5px;
}
.mobdiv{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.900);
  border-bottom: 2px outset white;
}
.savediv{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.900);
  border-top: 2px outset white;
}
h3{
    font-size: 25px !important;
}
.selector{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-style: ridge;
    border-width: 4px;
    border-color: green;
}
button{
    background-color: rgba(127, 255, 212, 0.11);
    color:aliceblue;
    font-size: 14px;
    font-family: Minecraft;
    padding: 5px;
}
button:hover{
    cursor: pointer;
    border-color: green;
}
#collapser{
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0);
  float: right;
}
  